/*전체 div입니다*/
/*전체 div입니다*/
#join_user_box {
    width: 1024px;
    min-height: 1096px;
    background: #fff;
    margin: auto;
    padding: 40px 0px;

}
/*회원가입 폼 입니다*/
#join_user_form {
    margin-left: 262px;
    margin-top: 50px;
    width: 500px;
    float: left;
    position: relative;
   border: 1px solid #424242;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}
/*유저 사진 부분입니다*/
#join_user_form .userPhoto{
    width: 500px;
    height: 120px;
   	background: no-repeat;
    position: relative;
    float: left;

}
/*유저 사진 업로드 부분입니다*/
#join_user_form .userPhoto label{
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: #1f2b43;
    cursor: pointer;
    left: 70px;
    top: 60px;
}
#pic_edit{
    display: none;
}
#join_user_form .userPhoto #user_pic{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 200px;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin-top: 10px;
    position: absolute;
}
/*개인정보 수정 페이지 버튼 css 부분 입니다!!!  */
#join_user_form .userPhoto button{
    width: 60px;
    height: 30px;
    position: absolute;
    background: #424242;
    top: 60px;
    left: 120px;

}


/*회원가입 버튼 부분 입니다!!!*/
#join_user_form .joinFormBtn{
    width: 500px;
    height: 80px;
    line-height: 80px;
    color: #fff;
    float: left;

}
#join_user_form .joinFormBtn button {
    width: 100px;
    height: 40px;
    display: block;
    font-weight: bold;
    margin: 20px auto;
    background: #ff7779;
    color:#fff;
    cursor: pointer;
    border-radius:4px;
    line-height:40px;
}

/*이메일 , 비밀번호 , 비밀번호 확인,닉네임 입니다*/
.joinUserFormContent {
    float: left;
    /*background: #0009e1;*/
}
.joinUserFormContent li{
    width: 500px;
    height: 50px;
    float: left;

}
.joinUserFormContent  p{
    width: 500px;
    height: 20px;
    text-align: center;
    line-height: 10px;
    font-weight: bold;
    font-size: 14px;
    float: left;
}
.joinUserFormContent li span{
    font-size: 16px;
    margin-right: 10px;
    display: block;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    float: left;
    background: #ff7779;
    color: #fff;

}
.joinUserFormContent li input{
    margin-bottom: 10px;
    float: left;
    width: 300px;
    height: 34px;

}
#join_user_form .joinAdd {
    width: 500px;
    height: 40px;
    /*background: blueviolet;*/
    position: relative;
    float: left;

}
#join_user_form .joinAdd span{
    display: block;
    width: 120px;
    height: 40px;
    position: relative;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    float: left;
    background: #0e173a;
    color: #fff;
}
#join_user_form .joinAdd .fa-caret-up{
    font-size: 22px;
    height: 40px;
    line-height: 40px;
    width: 380px;
    position: absolute;
    float: left;
    left: 70px;
    text-align: right;
    display: none;
}
#join_user_form .joinAdd a .fa-caret-up.on{
    display: block;
}
#join_user_form .joinAdd a .fa-caret-down{
    float: left;
    position: absolute;
    font-size: 22px;
    height: 40px;
    line-height: 40px;
    width: 380px;
    left: 70px;
    text-align: right;
    display: block;
    cursor: pointer;
}
#join_user_form .joinAdd .fa-caret-down.on{
    display: none;
}
/*생년월일,성별,전화번호*/
.joinUserAddForm1{
    /*background: yellow;*/
    float: left;
    margin: auto;

}
.joinUserAddForm1 li{
    width: 500px;
    height: 40px;
    float: left;
    margin-top: 10px;
    font-weight: bold;
}
.joinUserAddForm1 li span{
    font-size: 16px;
    margin-right: 10px;
    display: block;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    float: left;
    background: #ff7779;
    color: #fff;
}
.joinUserAddForm1 li .birthday{
    width: 80px;
    height: 40px;
    line-height: 30px;
    float: left;
    font-size: 18px;
}
.joinUserAddForm1 li p{
	float: left;
    font-size: 18px;
    vertical-align: middle;
    line-height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}
.joinUserAddForm1 li .gender{
    vertical-align: -15px;
    height: 40px;
    line-height: 40px;
}

.joinUserAddForm1 li .joinPhoneContent{
    width: 70px;
    height: 24px;
    line-height: 24px;
    margin-top: 5px;
    margin-right: 10px;
    float: left;

}
.joinUserAddForm1 li .phoneBtn{
    margin-top: 5px;
    margin-right: 10px;
    font-weight: bold;
    width: 60px;
    height: 30px;
    line-height: 30px;
    float: left;
    cursor: pointer;
    background: #ff7779;
    color: #fff;
}

/*소개말 ,관심사,전화번호*/
.joinUserAddForm2{
    /*background: green;*/
    float: left;
}
.joinUserAddForm2 li{
    width: 500px;
    margin-top: 10px;
    float: left;

}
.joinUserAddForm2 li span{
    width: 120px;
    text-align: center;
    line-height: 40px;
    float: left;
    background: #ff7779;
    color: #fff;
}
.joinUserAddForm2 li .attentionContent{
    width: 300px;
    height: 100px;
    margin-left: 10px;
    float: left;
    display: block;
}
.joinUserAddForm2 li .serviceBox{
    width: 304px;
    float: left;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
    vertical-align: middle;
}
.joinUserAddForm2 li .serviceBox input{
    vertical-align: middle;
    background: #e18bdb;
    width: 20px;
    height: 20px;
}
.joinUserAddForm2 li select{
    width: 120px;
    height: 40px;
    font-size: 16px;
    margin-left: 10px;
    font-weight: bold;
    float: left
}
.joinUserAddForm2 li button{
    width: 60px;
    height: 40px;
    margin-left: 10px;
    font-weight: bold;
    float: left;
    background: #ff7779;
    color:#fff;
    cursor: pointer;
}

/* 유효성 검사*/
.message.bad {
    font-size: 13px;
    color:#0e173a;
    display: none;
}
.message.good {
    font-size: 13px;
    color:#ff7779;
    display: none;
}
.messageEmailBox.good .good{
    display: inline;
}
.messageEmailBox.bad .bad{
    display: inline;
}
.messagePasswordBox1.good .good{
    display: inline;
}
.messagePasswordBox1.bad .bad{
    display: inline;
}

.messagePasswordBox2.good .good{
    display: inline;
}
.messagePasswordBox2.bad .bad{
    display: inline;
}
.messageNickname.good .good{
    display: inline;
}
.messageNickname.bad .bad{
    display: inline;
}
.messagePhoneNum.good .good{
    display: inline;
}
.messagePhoneNum.bad .bad{
    display: inline;
}

.messagePhoneNum{
     width: 500px;
     float: left;
     font-weight: bold;
     text-align: center;
     line-height: 38px;
 }

/*추가사항 on 클레스*/
#join_more_detail{
    display: none;
}
#join_more_detail.on{
    display: block;

}
/*관심도시 부분 생성 요소 부분 css 입니다 */
#area_item_box{
    width: 500px;
    min-height: 60px;
    float: left;
    /*background: red;*/
}
#area_item_box>div{
   width: 150px;
    height: 40px;
    float: left;
    background: #424242;
    border-radius: 50%;
    position: relative;
    margin-right: 15px;
    margin-top: 10px;
    cursor:pointer;
}
#area_item_box div span{
	width:150px;
   	font-size: 12px;
    line-height: 40px;
    text-align: center;
    left: 35px;
    float: left;
    font-weight: bold;
    color: #fff;
}

/* 0629 기원 땜빵*/
#join_user_box #join_user_form{
	width:600px;
	float:none;
	margin:auto;
	
	border:1px solid #42424222;
	
	border-radius:10px;
	
	transition:0.4s ease;
}
#join_user_box #join_user_form>*{
	overflow:hidden;
	width:500px;
	float:none;
	
	margin:auto;
	padding-left:45px;
	
}

#join_user_form .userPhoto #user_pic{
    background-size: cover;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin-top: 10px;
    position: relative;
    display:inline-block;
    vertical-align:middle;
    left:0;
    
    border:1px solid #0e173aCC;
}

#join_user_box #join_user_form>h3{
	font-size: 45px;
    color: #0e173aCC;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 900;
    background-color: #ff777999;
    width: auto;
    height: 100px;
    line-height: 100px;
    padding-left: 75px;
    
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    
}

.joinUserFormContent li input{
	width:335px;
}
.joinUserAddForm1 li div{
	float:left;
	padding-right:5px;
}
.joinUserAddForm1 .phone_div>input{
	float:none;
	margin-right:0;
}

#join_user_form input{
	border-radius:5px;
	border:1px solid #0e173aCC;
	
	padding-left:10px;
}
#join_user_form select{
	border-radius:3px;
	border:1px solid #0e173aCC;
	color:#0e173aCC;
	padding-left:5px;
}

#join_user_form .joinAdd a{
	font-size: 22px;
    height: 40px;
    line-height: 40px;
    
    float:right;
    
    margin-right:35px;
    cursor:pointer;
}

#join_user_box #join_user_form .fa-caret-up,#join_user_box #join_user_form .fa-caret-down{
	font-size: 22px;
    height: 40px;
    position: static;
    float: none;
    left: 0;
    text-align: center;
    width:auto;
}

.joinUserAddForm2 li .attentionContent{
	padding-right:10px;
	padding-left:10px;
	padding-top:10px;
	
	border-radius:3px;
	border:1px solid #0e173a99;
	
	width:325px;
}

.fa-mars{
	color:#0e173aCC;
	font-weight:bold;
	font-size:25px;
}
.fa-venus{
	color:#ff7779CC;
	font-weight:bold;
	font-size:25px;
}
.joinUserAddForm2 li .serviceBox{
	width:345px;
}

.joinUserAddForm2 li .serviceBox input {
	display:none;
	}
.joinUserAddForm2 li .serviceBox li{
	width: calc(345px / 5); /*한줄에 다섯개*/
	height: calc(345px / 5);
	margin-top:0;
}
.joinUserAddForm2 li .serviceBox li span{
	width: calc(345px / 5); /*한줄에 다섯개*/
	height: calc(345px / 5);
	
	background-size:cover;
	
	position:relative;
	
	cursor:pointer;
}
.joinUserAddForm2 li .serviceBox li span::after{
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	left:0;top:0;
	
	background-color:#424242BB;
	
	transition:0.2s ease;
}
.joinUserAddForm2 li .serviceBox li span:hover::after{
	background-color:#42424242;
}
.joinUserAddForm2 li .serviceBox li span.checked::after{
	display:none;
}

.joinUserAddForm2 li .serviceBox li span.cat1{
    background-image:url(/img/cat_1.png);
}
.joinUserAddForm2 li .serviceBox li span.cat2{
	background-image:url(/img/cat_2.png);
	}
.joinUserAddForm2 li .serviceBox li span.cat3{
	background-image:url(/img/cat_3.png);
}
.joinUserAddForm2 li .serviceBox li span.cat4{
	background-image:url(/img/cat_4.png);
}
.joinUserAddForm2 li .serviceBox li span.cat5{
	background-image:url(/img/cat_5.png);
}
.joinUserAddForm2 li .serviceBox li span.cat6{
	background-image:url(/img/cat_6.png);
}
.joinUserAddForm2 li .serviceBox li span.cat7{
	background-image:url(/img/cat_7.png);
}
.joinUserAddForm2 li .serviceBox li span.cat8{
	background-image:url(/img/cat_8.png);
}
.joinUserAddForm2 li .serviceBox li span.cat9{
	background-image:url(/img/cat_9.png);
}
.joinUserAddForm2 li .serviceBox li span.cat10{
	background-image:url(/img/cat_10.png);
}
#area_item_box>div {
    width: calc(500px / 3 - 5px);
    height: 40px;
    line-height: 40px;
    float: left;
    background: #0e173aCC;
    position: relative;
    margin-top:10px;
    margin-right:5px;
    cursor: pointer;
    
    
    border-radius:5px;
    
    text-align:center;
}
#area_item_box div span {
    width: calc(500px / 3 - 5px);
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
/*css 끝*/
